*/

body {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Shippori Mincho', serif;
  font-weight: 500;
  color: #333;
  text-decoration: none;
}

/* p tag styling */

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
  text-align: center;
}

/* Link styling :o */

a {
  color: rgb(255, 64, 64);
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #ffffff;
  text-decoration: underline;
  outline: 0;
}

a:before, a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: inline-block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


   /* section stuff to make sure it's aligned */


#headerwrap {
  background: url(../img/header-bg.png) no-repeat right top;
  margin-top: -10px;
  text-align: center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#headerwrap h1 {
  margin-top: 50px;
  color: white;
  font-size: 50px;
  font-weight: 400;
  text-shadow: 2px 2px #0000005e;
}

#headerwrap h2 {
  color: whitesmoke;
}


#headerwrap h3 {
  color: rgb(255, 64, 64);
  font-weight: 400;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px #0000005e;
  margin-bottom: 50px;
}

#headerwrap .logo {
  text-align: center;
  margin-top: 15px;
}

.bio-card{
  margin-top:10px;
  margin-left: 20%;
  margin-right: 20%;
  display: block;
  align-content: center;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.icon img {
  align-content:center;
  max-width: 400px;
  bottom: 0%;
  width: 100%;
}

/* Footer Wrap */

#f {
  background: #050505;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center
}

#f h2{
  color: whitesmoke;
  font-weight: 400;
  font-size: 20px;
}

#f h3 {
  color: white;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
}


#f i {
  font-size: 8px;
  color: #fff;
  padding: 3px;
}

#f p {
  font-size: 20px;
  color: #f2f2f2;
}

#f li {
  font-size: 16px;
  color: rgba(255, 101, 101, 0.616);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#f ul {
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

/* nav bar stuff*/

.menu {
  position: fixed;
  right: -200px;
  width: 260px;
  height: 100%;
  top: 0;
  z-index: 10;
  text-align: left;
}

.menu.menu-open {
  right: 0px;
}

.menu-wrap {
  position: absolute;
  top: 0;
  left: 60px;
  background: #1a1a1a5e;
  width: 200px;
  height: 100%;
}

.menu h1.logo {
  font-family: 'Shippori Mincho', serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15em;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 20px;
  padding: 10px;
  margin-left: 10px;
}

.menu h1.logo a:hover {
  color: #f85c37;
}

.menu img.logo {
  width: 500px;
  align-content: center;
}

.menu a {
  margin-left: 20px;
  color: #ffffff;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
}

.menu a:hover {
  color: rgb(255, 64, 64);
  text-decoration: underline;
}

.menu a:active {
  color: #ffffff;
}

.menu a>i {
  float: left;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 25px;
  font-size: 14px;
  line-height: 40px;
  margin: 25px 2px;
}

.menu-close {
  cursor: pointer;
  display: block;
  position: absolute;
  font-size: 14px;
  color: #808080;
  width: 40px;
  height: 40px;
  line-height: 40px;
  top: 20px;
  right: 5px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.menu-close:hover {
  color: #ffffff;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

/* Push body out after the menu button is pressed: */

.body-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.body-push-toright {
  left: 200px;
}

.body-push-toleft {
  left: -200px;
}

.menu, .body-push {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#menuToggle {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 11;
  display: block;
  text-align: center;
  font-size: 20px;
  color: rgb(255, 64, 64);
  width: 40px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

#menuToggle:hover {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}


/* card stuff */
.product-grid{ font-family: 'Shippori Mincho', serif; }
.product-grid .product-image{
    position: relative;
    overflow: hidden;
}
.product-grid .product-image a.img { 
  display: block; 
  font-size: 30px;
  
}

.product-grid .product-image img{
    width: 100%;
    height: auto;
    
}
.product-image .pic-1{ transition: all 0.5s; }
.product-grid:hover .product-image .pic-1{ filter: blur(10px) brightness(0.7); 
}
.product-grid .product-links{
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    
}
.product-grid .product-links li{
    margin: 0 0 5px 0;
    opacity: 0;
    transform: translateY(10px);
    transition: all .2s ease-in-out .1s;
    font-family: 'Montserrat', sans-serif;
    
}
.product-grid:hover .product-links li:nth-child(2){ transition: all .2s ease-in-out .2s; }
.product-grid:hover .product-links li:nth-child(3){ transition: all .2s ease-in-out .3s; }
.product-grid .product-links li:last-child{ margin-bottom: 0; }
.product-grid:hover .product-links li{
    opacity: 1;
    transform: translateY(0);
}
.product-grid .product-links li a{
    color: #fff;
    line-height: 50px;
    height: 50px;
    width: 250px;
    border: 1px solid #fff;
    display: inline-block;
    transition: all .2s ease-in-out .1s;
    font-size: 16px;
    text-decoration: none;
    
}


.product-grid .product-links li a:hover{
    background: rgb(255, 64, 64);
    border: 1px solid #bf3d3e;
    
}
.product-grid .product-content{ padding: 15px 0 0; }
.product-grid .title{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 5px;
    font-family: 'Montserrat', sans-serif;
    
}
.product-grid .title a{
    color: rgb(255, 64, 64);
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

@media screen and (max-width:990px){
    .product-grid{ margin: 0 0 30px; }
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* CARD STYLING */
#card {
  max-width: 450px;
  max-height: 225px;
  padding-top: 0;
  padding-bottom: 0;
  background: #292929;
  box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
  z-index: 5;
}

#card h2 {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  padding-top: 20px;
  font-size: 15pt;
}

#card p {
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-top: 10px;
}

#card a {
  color: rgb(255, 190, 255);
}

#card a:hover {
  color: rgb(255, 255, 255);
}

#card span {
  font-family: 'Montserrat', sans-serif;
}


/* footer */

#footerstuff {
  background: #222222;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

#footerstuff a {
  color: rgb(255, 64, 64);
}

#footerstuff a:hover {
  color: rgb(255, 255, 255);
}

#footerstuff p {
  margin-bottom: 5px;
}

#contact a {
  font-size: 30px;
}


@media screen and (max-width:690px) {
  .resume{
    align-items: center;
    max-width: 300px;
    width: 95%;
    height: 50%;
  }

}

